@model Fall2021_COMP2084_CourseProject.Models.Post

@{
    ViewData["Title"] = "Details of the post";
}

<h1>Details of the post</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            @if (Model.Photo != null)
            {
                <img src="~/img/posts/@Model.Photo" alt="Room photo" class="photo-review-img" />
            }

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneOnPost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneOnPost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailOnPost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailOnPost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    @*An user must logs in to edit the existing posts*@
    @if (User.Identity.IsAuthenticated)
    {        
        <a asp-action="Edit" asp-route-id="@Model.Id" class="link-color-change-dark space-between-edit-and-cancel" data-toggle="tooltip" title="Edit">
            @*Icon Source   https://icons.getbootstrap.com/*@
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
            Edit
        </a>
    }

    <a asp-action="Index" class="link-color-change-dark" data-toggle="tooltip" title="Back to Posts">
        @*Icon Source   https://icons.getbootstrap.com/*@
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
        </svg>
        Back to Posts
    </a>

</div>
