@model Fall2021_COMP2084_CourseProject.Models.Post

@{
    ViewData["Title"] = "Edit the post";
}

<h1>Edit the post</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @*<div class="form-group">
                <label asp-for="PostedDate" class="control-label"></label>*@
            @Html.HiddenFor(p => p.PostedDate, new { Value = @Model.PostedDate })
            @*<span asp-validation-for="PostedDate" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label><span class="required-item">*</span>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rent" class="control-label"></label><span class="required-item">*</span>
                <input asp-for="Rent" class="form-control" />
                <span asp-validation-for="Rent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label><span class="required-item">*</span>
                @Html.TextAreaFor(p => p.Description, new { @class = "post-description-textarea form-control", placeholder = "Word count: 1,500 characters", rows = 5 })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" type="file" class="form-control-file" id="edit-page-photo" />
                @*@Html.HiddenFor(p => p.Photo, new { Value = @Model.Photo })*@
                @*<input asp-for="Photo" class="form-control-file" value="@Model.Photo" hidden />*@
                <span asp-validation-for="Photo" class="text-danger"></span>
                @if (Model.Photo != null)
                {
                    <img src="~/img/posts/@Model.Photo" alt="Room photo" class="photo-review-img" />
                }

            </div>
            <div class="form-group">
                <label asp-for="PhoneOnPost" class="control-label"></label><span class="required-item">*</span>
                <input asp-for="PhoneOnPost" class="form-control" type="tel" />
                <span asp-validation-for="PhoneOnPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailOnPost" class="control-label"></label><span class="required-item">*</span>
                <input asp-for="EmailOnPost" class="form-control" type="email" />
                <span asp-validation-for="EmailOnPost" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>*@
            @Html.HiddenFor(p => p.UserId, new { Value = @Model.UserId })
            @*<span asp-validation-for="UserId" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" onclick="useSamePhoto()" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancel</a>
</div>




@*<script type='text/javascript'>
        function useSamePhoto()
        {
            if (document.getElementById("edit-page-photo").value == "")
            {
                console.log("OK!!!");
                /* alert("OK!!!"); */
                document.getElementById("edit-page-photo").setAttribute("type", "string");
                document.getElementById("edit-page-photo").value = "@Model.Photo";
            }
        }
    </script>*@





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
