@model IEnumerable<Fall2021_COMP2084_CourseProject.Models.Post>

@{
    ViewData["Title"] = "View Posts";
}

<h1>Posts</h1>

<p>
    <a asp-action="Create">Create a New Post</a>
    <a asp-area="" asp-controller="Cities" asp-action="Index" class="ml-4">Need another city for your post?</a>
</p>



<table class="table sortable table-hover table-sm">
    <thead>
        <tr>
            <th class="align-middle text-center">
                <a href="#">@Html.DisplayNameFor(model => model.PostedDate)</a>
            </th>
            <th class="align-middle text-center">
                <a href="#">@Html.DisplayNameFor(model => model.City)</a>
            </th>
            <th class="align-middle text-center">
                <a href="#">@Html.DisplayNameFor(model => model.Rent)</a>
            </th>
            <th class="align-middle text-center">
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th class="sortable_nosort">
                @*@Html.DisplayNameFor(model => model.Photo)*@
            </th>

            <th class="align-middle text-center sortable_nosort">
                @Html.DisplayNameFor(model => model.PhoneOnPost)
            </th>
            <th class="align-middle text-center sortable_nosort">
                @Html.DisplayNameFor(model => model.EmailOnPost)
            </th>

            @*<th class="align-middle text-center">
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PostedDate)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td  class="text-center">
                    @Html.DisplayFor(modelItem => item.Rent)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-center">
                    @if (item.Photo != null)
                    { 
                    <img src="~/img/posts/@item.Photo" alt="Room photo" class="photo-review-img" />
                    }
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.PhoneOnPost)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.EmailOnPost)
                </td>

                @*<td class="text-center">
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>*@

                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
